

    <mat-progress-bar mode="determinate" *ngIf="autoSaveTimer" [value]="autoSaveTimer"></mat-progress-bar>
<section>
    <header>
        <button class="btn-menu"  mat-flat-button color="primary" [matMenuTriggerFor]="userMenu">Home</button>
        <mat-menu #userMenu="matMenu">
            <button
                    mat-menu-item
                    *ngFor="let item of userMenuItems"
            >
            <mat-icon>{{item.icon}}</mat-icon>
                {{ item.title }}
            </button>
        </mat-menu>
    </header>

    <h1>
        TVT Board
    </h1>
    <main cdkDropListGroup>
        <div>
            <h2>To Do</h2>
            <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="tvtBoard.todo"
                    [cdkDropListConnectedTo]="[inProgress]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tvtBoard.todo" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div>
            <h2>In Progress</h2>
            <div
                    cdkDropList
                    #inProgress="cdkDropList"
                    [cdkDropListData]="tvtBoard.inProgress"
                    [cdkDropListConnectedTo]="[todoList, reviewList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tvtBoard.inProgress" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div>
            <h2>Review</h2>
            <div
                    cdkDropList
                    #reviewList="cdkDropList"
                    [cdkDropListData]="tvtBoard.review"
                    [cdkDropListConnectedTo]="[inProgress, complete]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tvtBoard.review" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div>
            <h2>Done</h2>
            <div
                    cdkDropList
                    #complete="cdkDropList"
                    [cdkDropListData]="tvtBoard.complete"
                    [cdkDropListConnectedTo]="[reviewList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tvtBoard.complete" cdkDrag>{{item}}</div>
            </div>
        </div>
    </main>
</section>
